.content-container {
    gap: 2rem;

    & .points {
        color: #F79C0C;
        font-weight: 700;
    }

    & .tip-span {
        color: yellow;
        font-weight: 600;
    }

    & .word-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        flex-wrap: wrap;

        & .letter, .square {
            user-select: none;
            display: inline-block;
            width: 9rem;
            height: 9rem;
            background-color: #2a3851;
            font-size: 6rem;
            font-family: 'Poppins', sans-serif;
            text-align: center;
            border-radius: 1rem;
            text-transform: uppercase;
            color: #000;
            box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.633);
        }

        & .letter {
            background-color: #12B882;
        }
    }

    & .letter-container {
        & .form {
            display: flex;
            gap: 3rem;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;

            & input {
                width: 7rem;
                height: 7rem;
                background-color: #fff;
                font-size: 5rem;
                font-family: 'Poppins', sans-serif;
                text-align: center;
                border-radius: 1rem;
                border: 0;
                box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.633);

                &:focus {
                    outline: 0;
                }
            }
        }
    }

    & .wrong-letters-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
        
        & .container-letters {
            min-height: 4rem;
            width: 15rem;
            border: 0.1rem solid #F79C0C;
            border-radius: 1rem;
        }
    }
}